<%= form_with model: fashion, local: true do |f|%>
  <div class="field">
    <%= f.label :artist, "アーティスト名" %><br />
    <%= f.text_field :artist %>
  </div>

  <div class="field">
    <%= f.label :brand, "ブランド名" %><br />
    <%= f.text_area :brand, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :item, "アイテム名" %><br />
    <%= f.text_area :item, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>